@font-face {
  font-family: 'gtfr';
  src: url('../fonts/GT-Flexa-Regular-Italic-Trial.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'gtfr';
  src: url('../fonts/GT-Flexa-Regular-Trial.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gtfxebl';
  src: url('../fonts/GT-Flexa-X-Compressed-Bold-Trial.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gtfxebo';
  src: url('../fonts/GT-Flexa-X-Compressed-Black-Trial.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


$font-titles: 'gtfxebl', sans-serif;
$font-text: 'gtfr', sans-serif;
$font-stack:    Helvetica, sans-serif;
$font-stack:    Helvetica, sans-serif;

$primary-blue: #000431;
$primary-yellow: #FFF500;